table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    border: 2px solid #ddd;
}

th {
    background-color: gray;
}

tr:nth-child(even) {
    background-color: lightgray;
}

h1 {
    color: red;
}