* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Poppins";
  position: relative;
}

.sectionpage2 {
  margin-left: 6rem;
}

nav {
  width: 100vw;
  background-color: #131c27;
  display: flex;
  justify-content: space-around;
  z-index: 999;

  position: fixed;
  margin-bottom: 10rem;
}

.navul {
  padding: 3rem;
  width: 50vw;
  margin-left: 25rem;
  z-index: 999;
  display: flex;
  justify-content: space-around;
}

a:link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

a:visited {
  color: white;
}

a:hover {
  color: coral;
}

ul {
  list-style: none;
  color: white;
}

li {
  color: white;
}

.h2nav {
  color: white;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: "pattaya";
}

.div1page2 {
  border-bottom: 3px solid white;
}

.headerpage1 {
  background-image: url(./img/landing-page.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerpage2 {
  background-image: url(./img/new-york-page.png);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: grey;
  background-position-y: center;
}

.textpage3 {
  position: relative;
  color: white;
  height: 25vh;
  padding-top: 3.5rem;
  background-color: #131c27;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  opacity: 100%;
}

.sectionpage2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-size: 2rem;
  opacity: 100%;
}

.booknowbutton {
  padding: 1.5rem;
  width: 10%;
  background-color: #4c6e97;
  border-style: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerthis {
  display: flex;
  justify-content: center;
}

.travelpage3 {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
  color: #131c27;
}

h5 {
  display: flex;
  justify-content: center;
  margin-right: 10rem;
  margin-top: 5rem;
}

.routesolid {
  background-color: #131c27;
  width: 25vw;
  height: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hotelsolid {
  background-color: #131c27;
  width: 25vw;
  height: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flysolid {
  background-color: #131c27;
  width: 25vw;
  height: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routeicon {
  height: 7vh;
}

.hotelicon {
  height: 7vh;
}

.flyicon {
  height: 7vh;
}

.tablet1 {
  width: 25vw;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1), 0px 20px 20px rgb(0, 0, 0, 0.1);
}

.tablet2 {
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1), 0px 20px 20px rgb(0, 0, 0, 0.1);
  width: 25vw;
}

.tablet3 {
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1), 0px 20px 20px rgb(0, 0, 0, 0.1);
  width: 25vw;
}

.backimgpage4 {

  background-position-y: center;
  margin-top: 10rem;
  margin-bottom: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  width: 50vw;
  height: 50vh;
  background-color: #0000006d;
}

.page4 {
  background-image: url(./img/contact-mountain.png);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size:cover;  
  background-color: grey;
  margin-top: 10rem;
}

.submit-end {
  width: 50vw;
  height: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-color: #4c6e97;
  background-color: #4c6e97;
  color: white;
}

.contactdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Email {
  margin-bottom: 8rem;
}

h1 {
  margin-top: 10rem;
}