h1 {
    font-size: 24px;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

h2 {
    font-size: 20px;
    color: #0000ff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 16px;
    color: teal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: #4d4d4d;
}

.paragraaf {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:link {
    text-decoration: none;
}

img {
    width: 50%;
}

header {
    width: 100%;
    font-size: 100%;
    height: 300px
}

.header::before {
    content: "";
    background-image: url("./img/7448.png");
   opacity: 0.4;
   width: 100vw;
   height: 33vh;
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   z-index: -1;

}

header h1 {

}

article {
    border-style: ridge;
    border-radius: 3%;
    border-color: lightgray;
    border-width: 7px;
    border-left-width: 15px;
}